:root {
  --container-width: min(100vw, theme('maxWidth.container'));
  --color-logo: #fff;
  --color-logo-bg: #A1C1D2;
  --color-title: #000;
  --color-icon: #000;
  --color-primary: #fff;
  --color-header-bg: #fff;
  --color-explanatory-text-bg: #fff;
  --color-explanatory-text-color: #000;
  --color-filtering-apply-button-color: #fff;
  --color-filtering-apply-button-bg: #A1C1D2;

  @media screen and (max-width: theme('maxWidth.container')) {
    --container-width: 100vw;
  }
}
